<!doctype html>
<html lang="en">
  <head>
    <!-- Read head.ejs file from partials folder-->
    <%- include("./partials/head.ejs") %>
  </head>
  <body class="body">
    <!-- Read nav.ejs file from partials folder-->
    <%- include("./partials/nav.ejs") %>
    
    <!--TODO add code from video link and modify it to work and display the database content-->
    
    <!-- Lesson 07 https://youtu.be/yXEesONd_54?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU&t=1053-->
      
    <!-- Lesson 09 https://youtu.be/bxsemcrY4gQ?list=PLKycv9hdyoo3VewM8LEcQ8Iis-qgjwTtG&t=2014 -->
    <div class="course content">
      <h2>All Courses</h2>
  
      <% if (courses.length > 0) { %>
        <% blogs.forEach(blog => { %>
          <a class="single" href="/courses/<%= class._id %>">
            <h3 class="dept"><%= class.dept %></h3>
            <p class="name"><%= class.name %></p>
          </a>
        <% }) %>
      <% } else { %>
        <p>There are no courses to display...</p>
      <% } %>
      
    </div>
      
      <h1 class="h1">Welcome to Sunnydale Community College</h1>
      <h2 class="h2">Established in 1963</h2>
      <img class="logo rounded-pill float-lg-none" src="logo.jpeg" alt="SCC Logo">
      
      <article>      
      <h3 class="mt-5"><a href="/sunnydale/course_list">Available Courses</a></h3>
      <p>Welcome to Sunnydale Community College</p>
      <p>We have a wide variety of courses for you to choose from.</p>
      <p>Wether you are an aspiring artist, interested in the different cultures from around the world, or studying the dark arts of polictics, we have a class just for you</p>
      <p>To find out more about about our courses, click the Available Courses link</p>
      <p>Quisquam, tempora quidem distinctio eligendi cumque ipsum dolorum minima dolor molestiae dicta recusandae aspernatur accusamus non nostrum. Veritatis beatae quia, rerum consectetur libero sint, corporis fugiat, ipsam repudiandae tempora eos?</p>
      <p>Sed, nam consequuntur molestias labore nostrum voluptas aperiam autem iusto recusandae, debitis atque quas eos assumenda numquam optio dolorem laborum provident impedit eum nulla cum incidunt officiis vitae pariatur! Dolores.</p>
      <p>If you have any questions, visit our faq section where we answer some of the most common questions asked by our new and current students.</p>
     
      </article>
    
    
    <footer>
      <%- include("./partials/footer.ejs") %>
    </footer>
    
  </body>
  

</html>